{% extends 'GcaWebBundle::layout.html.twig' %}
{% block title %}Bienvenido{% endblock %}
{% block body %}
 	Bienvenido {{ name }} se ha registrado satisfactoriamente
 	</b>
 	<a href="{{path("home_page")}}">home</a>
{% endblock %}