{% extends 'GcaWebBundle::layout.html.twig' %}

{% block title %}Bienvenido{% endblock %}
{% block body %}
 	Ha iniciado Sesion correctamene
 	</br>
 	<a href="{{path("logout_page")}}">logout</a>
{% endblock %}