
{% extends 'GcaWebBundle::layout.html.twig' %}
{% block title %} Hola {% endblock %}

{% block body %}
	<div class="div_loggIn">
	 	 <form>
	 	 	<table>
				<tr><td>Email:    </td><td><input type="text"/>    				    </td></tr>
				<tr><td>Password: </td><td><input type="password"> 					</td></tr>
				<tr><td>          </td><td><input type="submit" value="Ingresar">   </td></tr>	
	 	 	</table>
	 	 </form>
 	</div>
 	<div class="registrarse">
 		<form action="#"
 		
 		></form>
 	</div>
{% endblock %}


